{% extends "base.html" %}
{% block title %}Electron Flux{% endblock %}


{% block wijmojs %}
    <script src="external/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="external/jquery-ui-1.8.23.custom.min.js" type="text/javascript"></script>
    <script src="external/globalize.min.js" type="text/javascript"></script>
    <script src="external/raphael-min.js" type="text/javascript"></script>
    <script src="wijmo/jquery.wijmo.raphael.js" type="text/javascript"></script>
    <script src="wijmo/jquery.wijmo.wijchartcore.js" type="text/javascript"></script>
    <script src="wijmo/jquery.wijmo.wijlinechart.js" type="text/javascript"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
{% endblock %}

{% block wijmochart %}

    <script id="scriptInit" type="text/javascript">
        $(document).ready(function () {
            $("#wijdatelinechart").wijlinechart({

                type: "area",
                animation: { enabled: false },

                showChartLabels: false,
        header: {
	text: "Solar Electron Flux - Electrons/cm2-s-sr"
	},

                legend: { compass: "south", orientation: "horizontal", textStyle: { "font-size": "11px", fill: "#3A3A3A"} },
                hint: {
                    content: function () {
                        return this.y + ' MeV';
                    },
                    offsetY: -10,
                    style: { fill: "#fff" },
                    contentStyle: { "font-size": "11px", fill: "#000" },
                    titleStyle: { "font-size": "11px" }, showCallout: true
                },

                seriesList: [

	{{dataseries01}}
,

	{{dataseries02}}

,


				],
                axis: {
                    y: {
                       	min: 0,
	                max: 110000,
	                autoMax: false,

                        labels: {
                            style: {
                                fill: "#3A3A3A",
                                "font-size": "11px",
                                "font-family": "fixed",
                                "font-weight": "normal"
                            }
                        },
                        gridMajor: { visible: true,

                            style: { stroke: "#efefef" }

                        }

                    },

                    x: {

                        labels: {

                            style: {

                                fill: "#3A3A3A",

                                "font-size": "11px",

                                "font-family": "Tahoma",

                                "font-weight": "normal"



                            }

                        },
                        annoFormatString: "MM/yyyy",
                        tickMajor: { position: "outside", style: { stroke: "#999999"} },
                        gridMajor: { visible: true,
                            style: { stroke: "#efefef", "stroke-dasharray": "none" }

                        }

                    }

                },

	        seriesStyles: [{
                        stroke: "#761CEC", "stroke-width": 2, opacity: 1
                    }, {
                        stroke: "#CC0000", "stroke-width": 2, opacity: 1
                    }, {
                        stroke: "#fe0fe0", "stroke-width": 2, opacity: 1
                }],
               

            });

            var resizeTimer = null;



            $(window).resize(function () {

                window.clearTimeout(resizeTimer);

                resizeTimer = window.setTimeout(function () {

                    var jqLine = $("#wijdatelinechart"),

						width = jqLine.width(),

						height = jqLine.height();



                    if (!width || !height) {

                        window.clearTimeout(resizeTimer);

                        return;

                    }



                    jqLine.wijlinechart("redraw", width, height);

                }, 250);

            });


        })
    </script>


{% endblock %}

{% block content %}

<div id="wijdatelinechart" style="width: 756px; height: 475px">

{% endblock %}
