{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block wijmojs %}
    <script src="external/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
{% endblock %}


{% block content %}

      <h1>SUNTREK technology preview</h1>
      <p>The USS Enterprise NCC-1701-E arrives to a solar system that is governed by a star with suspicious behaviour. The crew has instructions to collect data for at least several days and send a report to Starfleet Command. What they don't know is that this star is an exact clone of Earth's Sun...</p>

      <p>This webpage will serve as a technology preview for the different data sources and post-processing that we perform.</p>


{% endblock %}
